* {
    box-sizing: border-box;
}
body{
    position: relative;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .icon {
    display: none;
}



header {

    background-image: url(/images/background_color.jpg);
    background-size: cover;
    height: 20vw;
    text-align: center;
    color: aliceblue;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}


aside {
    height: 50vw;
    float: left;
    width: 30%;


    position: relative;

    background-color: seashell;

   

}

section {
    float: left;
    height: 50vw;


    width: 70%;
    background-color: #ccc;
    position: relative;

}



@media (max-width: 600px) {

    aside,
    section,
    footer {
        width: 100%;
        height: auto;
    }

    .topnav .icon {
        display: block;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}

form {

    width: 50%;
    padding: 1vw;
    border: 5px solid gray;
    background-color: #8a9a94;
    margin: 1vw;
    height: auto;

}

form::after {
    content: "";
    display: table;
    clear: both;
}

input[type=text],
input[type=password],
select,
textarea,
datalist {
    width: 10vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    width: 10vw;

}

.input-wrapper {
    width: auto;
    height: 10vw;
}
/* Style the footer */
footer {
    background-color: #777;
    color: #007bb5;
    margin-bottom: 0px;
}