<link rel="stylesheet" href="/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
footer {
  background: #222;
  color: #aaa;
  /* -----------important to align on bottom right palce------------ */
  position: absolute;
  top: 70vw;

  width: 100%;
  height: 20vw;
  
}

footer a {
  color: #aaa;
}

footer a:hover {
  color: #fff;
}

footer h3 {
 color: #0894d1;
  letter-spacing: 1px;
  margin: 30px 0 20px;
}

footer .three-column {
 overflow: hidden;
}

footer .three-column li{
 width: 33.3333%;
  float: left;
  padding: 5px 0;
}

footer .socila-list {
  overflow: hidden;
  margin: 20px 0 10px;
}

footer .socila-list li {
  float: left;
  margin-right: 3px;
  opacity: 0.7;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

footer .socila-list li:hover {
  opacity: 1;
}

footer .img-thumbnail {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #444;
  margin-bottom: 5px;
}

footer .copyright {
  padding: 15px 0;
  background: #333;
  margin-top: 20px;
  font-size: 15px;
}

footer .copyright span {
  color: #0894d1;
}
</style>



<footer>
    <div class="container">
      <div class="row">
        
        <div class="col-lg-4 col-md-6">
          <h3>Site Map</h3>
          <ul class="list-unstyled three-column">
            <li>Home</li>
            <li>Services</li>
            <li>About</li>
            <li>Code</li>
            <li>Design</li>
            <li>Host</li>
            <li>Contact</li>
            <li>Company</li>
          </ul>
          <ul class="list-unstyled socila-list">
           
          </ul>
        </div>
        </div>
        
    <div class="copyright text-center">
      Copyright &copy; 2017 <span>Your Template Name</span>
    </div>
  </footer>
  

  
  
    <!-- html site map with bs grid and list group -->
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3" style="background-color:lavender; color: black;">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true" style="padding-left: 0px;margin-left: 0px;">
                        Home Page
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" style="padding-left: 5vw;">A second link
                        item</a>
                    <a href="#" class="list-group-item list-group-item-action" style="padding-left: 5vw;">A third link
                        item</a>
                    <a href="#" class="list-group-item list-group-item-action" style="padding-left: 5vw;">A fourth link
                        item</a>
                </div>
            </div>

            <div class="col-sm-6" style="background-color:lavenderblush;color: black;">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        Home Page
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" style="padding-left: 3vw;">A second link
                        item</a>
                    <a href="#" class="list-group-item list-group-item-action" style="padding-left: 3vw;">A third link
                        item</a>
                    <a href="#" class="list-group-item list-group-item-action" style="padding-left: 3vw;">A fourth link
                        item</a>

                </div>
            </div>
            <div class="col-sm-3" style="background-color:lavender;color: black;">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        Home Page
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" style="padding-left: 3vw;">A second link
                        item</a>
                    <a href="#" class="list-group-item list-group-item-action" style="padding-left: 3vw;">A third link
                        item</a>
                    <a href="#" class="list-group-item list-group-item-action" style="padding-left: 3vw;">A fourth link
                        item</a>

                </div>
            </div>
        </div>

    </div> -->


